@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Correction: use border-box instead of 0 */
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logoMenu {

    max-width: 177px;
    padding: 0;
    /*max-height: 50px;*/

}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    margin-top: 50px;
}

.banner-conteiner {
    margin-top: 50px;
    max-height: 750px;
}

.menu {
    list-style-type: none;
    display: flex;
    position: relative;
}

.menu li {
    margin-left: 30px;
}

.menu a {
    color: rgb(41, 47, 54);
    font-family: Jost;
    font-size: 20px;
}

.page5-banner {
    width: 1920px;
height: 400px;
margin-left: -180px;
margin-top: 30px;
}

.text-page5 {
    margin-left: 20%;
    margin-top: 200px;
    width: 700px;
height: 450px;

}
.text-page5 h1 {
    color: rgb(41, 47, 54);
font-family: DM Serif Display;
font-size: 50px;
margin-bottom: 20px;
}
.text-page5 p {
    color: rgb(77, 80, 83);
font-family: Jost;
font-size: 22px;
}
.page5-imge {
    margin-top: 50px;
    height: 800px;
}
.imge-page5 {
    position: relative;
    margin-bottom: 150px;
}
.zoom {
    position: absolute;
    top: 45%;
    right: 45%;
    width: 150px;
}




.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.in {
    padding-left: 60px;
    
}
.footer ol {
    list-style-type: none;
    text-decoration: none;
}

.interno {
    width: 180px;
    height: 50px;
}
.footer-infor1 li, .footer-infor2 li {
    padding: 10px 0;
    color: rgb(77, 80, 83);
font-family: Jost;
font-size: 22px;
font-weight: 400;
}
.footer-infor1 h4, .footer-infor2 h4 {
    margin-bottom: 10px;
    color: rgb(41, 47, 54);
font-family: DM Serif Display;
font-size: 25px;
font-weight: 400;
}
.footer-infor1 a {
    color: rgb(77, 80, 83);
}